<div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Lawyers List</a>
        </div>
      </div>
    </div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Experience</th>
      <th>City</th>
      <th>Rating</th>
      <th>Total services</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lawyer_cities.each do |lawyer_city| %>
      <tr>
        <td><%= lawyer_city.name %></td>
        <td><%= pluralize(lawyer_city.experience , 'year')%></td>
        <td><%= lawyer_city.city %></td>
        <td><%= lawyer_city.rating %></td>
        <td><%= @services_count[@lawyer_cities.index(lawyer_city)] %></td>
        <td><%= link_to 'Show', lawyer_city %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
