<h1>Lawyers list</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Experience</th>
      <th>City</th>
      <th>Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lawyer_cities.each do |lawyer_city| %>
      <tr>
        <td><%= lawyer_city.name %></td>
        <td><%= lawyer_city.experience %></td>
        <td><%= lawyer_city.city %></td>
        <td><%= lawyer_city.rating %></td>
        <td><%= link_to 'Show', lawyer_city %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lawyer city', new_lawyer_city_path %>
