<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @lawer_service.code %>
</p>

<p>
  <strong>Service code:</strong>
  <%= @lawer_service.service_code %>
</p>

<p>
  <strong>Service name:</strong>
  <%= @lawer_service.service_name %>
</p>

<p>
  <strong>Charges:</strong>
  <%= @lawer_service.charges %>
</p>

<%= link_to 'Edit', edit_lawer_service_path(@lawer_service) %> |
<%= link_to 'Back', lawer_services_path %>
